body{
    background-image: linear-gradient(to top,white, rgb(223, 223, 57), rgb(185, 83, 100), rgb(221, 71, 71));
    background-attachment: fixed;
}
*{
    margin: 0px;
    padding: 0px;
}
header {
	width: 100%;
	height: 100%;
    min-height: 250px;
	background-image: url(Imagens/Fundo\ do\ header\ dino.png);
	background-size: cover;
    background-position: top center;
	display: flex;
	flex-direction: column;
	position: relative;
}
nav{
    background-color: rgba(189, 115, 31, 0.493);
    height: 100px;
    width: 100%;
}
header > nav > div#menu > ul > a > img#logo{
    width: 90px;
    height: 90px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}
ul > a{
    color: black;
    text-decoration: none;
}
ul > a:hover{
    background-color: rgba(45, 224, 209, 0.733);
    border-radius: 10px;
    text-decoration: underline;
}
ul > a > img{
    width: 30px;
    height: 35px;
}
main{
    background-color: white;
    width: 94%;
    height: 100%;
    color: black;
    padding: 40px;
}